// variables

$website-width: 1280px;
$main-color: #f2f2f1;
$medium-color: #9b9b9a;
$schmedium-color: #d1d1d1;
$dark-color: #4c4748;
$primary-color: #d80000;
$secondary-color: #0c006d;
$detail-color: #ffdd00;
$bg-image: url("../img/showcase.jpg");
